@font-face {
    font-family: 'Haettenschweiler';
    src: url("Ressources/haettenschweiler_[fr.allfont.net].ttf");
}

* {
    margin:0;
    padding:0;
}


h1  {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 5em;
    font-family: 'Haettenschweiler';
    }

p {
    font-family: 'Roboto', sans-serif;
    color: rgba(240, 248, 255, 0.826);
}

.degrade-diagonal {
    background: rgb(77,0,159);
    background: linear-gradient(90deg, rgba(77,0,159,1) 0%, rgba(147,6,11,1) 100%);
}

.sneaker img {
    margin: auto;
    display: flex;
    max-width: 13em;
    justify-content: center;
    align-content: center;
    -webkit-filter: drop-shadow(10px 10px 10px #000000);
    filter: drop-shadow(10px 10px 10px #000000);
}

.jumpman {
    display: inline-flex;
    max-width: 8%;
    fill: white;
    align-content: left;
    margin: auto;
}

header {
    background-color: black;
    opacity: 0.5;
    color: aliceblue;
    font-size: x-large;
    font-family: 'Haettenschweiler';
    margin: auto;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

footer {
    align-items: center;

}

.myButton {
	background-color:#000000;
	border-radius:28px;
	border:1px solid #1d1d1d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Haettenschweiler';
	font-size:30px;
	padding:16px 40%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    -webkit-filter: drop-shadow(10px 10px 10px #000000);
    filter: drop-shadow(10px 10px 10px #000000);
}

.myButton:hover {
	background-color:#0f0f0f;
}
.myButton:active {
	position:relative;
	top:1px;
    -webkit-filter: drop-shadow(6px 6px 6px #000000);
    filter: drop-shadow(6px 6px 6px #000000);
}

.blabla {
    align-items: center;
    text-align: center;
    font-size: 1em;
}