@font-face {
    font-family: 'Haettenschweiler';
    src: url("Ressources/haettenschweiler_[fr.allfont.net].ttf");
}

* {
    margin:0;
    padding:0;
}

body {
    align-items: center;
    text-align: center;
}

h1  {
    font-size: x-large;
    font-family: 'Haettenschweiler';
    }

p {
    font-family: 'Roboto', sans-serif;
    position:relative;
    color: rgba(240, 248, 255, 0.826);
}

.degrade-diagonal {
    background: rgb(77,0,159);
background: linear-gradient(90deg, rgba(77,0,159,1) 0%, rgba(9,9,121,1) 9%, rgba(147,6,11,1) 100%);
}

.sneaker {
    max-width: 23%;
}

.jumpman {
    display: inline-flex;
    max-width: 8%;
    fill: white;
    align-items: left;
    text-align: center;
}

header {
    background-color: black;
    opacity: 0.5;
    color: aliceblue;
    font-size: x-large;
    font-family: 'Haettenschweiler';
}

footer {
    align-items: center;

}
