@font-face {
    font-family: 'Haettenschweiler';
    src: url("Ressources/haettenschweiler_[fr.allfont.net].ttf");
}

* {
    margin:0;
    padding:0;
}


h1  {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 4em;
    font-family: 'Haettenschweiler';
    padding-top: 8px;
    }

p {
    font-family: 'Roboto', sans-serif;
    color: rgba(240, 248, 255, 0.826);
}

.degrade-diagonal {
    background: rgb(77,0,159);
    background: linear-gradient(45deg, rgba(77,0,159,1) 0%, rgba(147,6,11,1) 100%);
}

.sneaker img {
    margin: auto;
    display: flex;
    max-width: 13em;
    justify-content: center;
    align-content: center;
    -webkit-filter: drop-shadow(20px 20px 20px #000000);
    filter: drop-shadow(20px 20px 20px #000000);
}

.jumpman {
    display: inline-flex;
    max-width: 2.5em;
    align-content: left;
    margin: auto;
}

nav .navlist {
    list-style: none;
}

nav .navlist li {
    display: inline-block;
}

nav .navlist li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

nav .navlist li a:hover {
    color: rgb(132, 0, 0);
  }

header {
    background-color: black;
    opacity: 0.5;
    color: aliceblue;
    font-size: x-large;
    font-family: 'Haettenschweiler';
    margin: auto;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5%;
}

footer {
    align-items: center;

}

.myButton {
	background-color:#000000;
	border-radius:28px;
	border:1px solid #1d1d1d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Haettenschweiler';
	font-size:30px;
	padding:16px 30%;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    -webkit-filter: drop-shadow(10px 10px 10px #000000);
    filter: drop-shadow(10px 10px 10px #000000);
    transition: 0.3s;
}

.myButton:hover {
	background-color:#0f0f0f;
}
.myButton:active {
	position:relative;
	top:1px;
    -webkit-filter: drop-shadow(6px 6px 6px #000000);
    filter: drop-shadow(6px 6px 6px #000000);
}

.blabla {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: start;
    font-size: 1em;
}
